/*  
    [--------Colors--------]
    #234d20 	(35,77,32)
	#36802d 	(54,128,45)
	#77ab59 	(119,171,89)
	#c9df8a 	(201,223,138)
	#f0f7da 	(240,247,218)
*/

* {
    box-sizing:border-box;
}

html, body, #root {
    height:100%;
}

.page {
    padding:15px;
    position:relative;
    height:calc(100% - 56px);
}

.thumbnail {
    cursor:zoom-in;
}

.modal-bg {
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background:rgba(25,25,25, 0.9);
}

.modal-image {
    display:block;
    cursor:zoom-out;
    margin:0 auto;
    height:76.5vh;
}

.jobbler-features-list {
    margin:0;
    padding:0;
}

/* Bootstrap mods */
.nav-tabs {
    border:none;
}

.navbar {
    background-color:#77ab59 !important;
}

.navbar-brand {
    color:#fff !important;
}

.btn-dark {
    color:#000 !important;
    background-color:#c9df8a !important;
}

.nav-tabs > .nav-item:first-child > .nav-link {
    margin-left:15px;
}

.modal-dialog {
    height:100%;
}

.modal-content {
    max-height:calc(100% - 50px);
}