# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/api/node_modules
/app/node_modules
/landing/node_modules
/node_modules
/.pnp
!/app/node_modules/react-dropdown

# Development
# /api/dev

# production
/api/build
/app/build
/landing/build
/build

# backend
/api
/landing
/docs

# testing
/api/coverage
/app/coverage
/landing/coverage
/coverage

# logs
/api/logs/server.log
/api/logs/security.log

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
