.react-datepicker-popper {
transform: translate3d(77px, -287px, 0px);
z-index: 10000000!important;
}
.react-datepicker__input-container {
display: flex;
justify-content: center;
}
.datepicker-modal {
position: fixed!important;
background-color: rgba(0, 0, 0, 0.4)!important;
}

.react-datepicker__year-wrapper {
	max-width: 205px;
}

.react-datepicker__year-text { 
	padding: 6px 0px;
}