.menuClass {
	font-family: 'Roboto Light';
	font-weight: normal;
	/* color: #5A5A5A; */
	color: rgb(31 90 152);
	font-size: 23px;
	margin: 0.3em 0;
	cursor: pointer;

  max-height: 50vh;
	width: max-content;
}
.menuTimecardClass {
	font-weight: normal;
	color: #5A5A5A;
	cursor: pointer;
  max-height: 50vh;
	width: max-content;
	font-family: "Expletus Sans";
  font-size: 20px;
  /* color: rgb(130, 130, 130); */
  color: rgb(31 90 152 / 68%);
	 -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
.monthMenuClass {
	font-family: 'Expletus Sans';
	font-weight: normal;
	/* color: #4F4F4F; */
	color: rgb(31 90 152);
	font-size: 20px;
	margin: 0.3em 0;

  max-height: 50vh;
	width: max-content;
	cursor: pointer;
}

.controlClass {
	border: unset;
	padding: 0 26px 0px 0;
	transition: all 0.3s ease-in-out;
}
.controlTimecardClass {
	border: unset;
	padding: 0 26px 0px 0;
	transition: all 0.3s ease-in-out;
	background-color: unset;
}

.monthControlClass {
	border: unset;
	padding: 0 0px 0px 0;
	transition: all 0.3s ease-in-out;
}
.arrow-closed {
	  border-color: rgb(31 90 152 / 60%) transparent transparent;
		border-width: 6px 6px 0;
    border-style: solid;
    content: ' ';
    display: block;
    height: 0;
    margin-top: -ceil(2.5);
    position: absolute;
    right: 10px;
    top: 14px;
    width: 0;
}
.arrow-open {
	  border-color:  transparent transparent rgb(31 90 152 / 60%);
		border-width: 0 6px 6px;
    border-style: solid;
    content: ' ';
    display: block;
    height: 0;
    margin-top: -ceil(2.5);
    position: absolute;
    right: 10px;
    top: 14px;
    width: 0;
}

.Dropdown-option {
	font-family: 'Roboto Light';
	font-weight: normal;
	color: #5A5A5A;
	font-size: 23px;
	z-index: 100;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.Dropdown-option.is-selected  {
	background-color: #d1dbdf;
}

.Dropdown-option:hover {
    background-color: #d9f2fc;
}
.Dropdown-root { 
	display: flex;
  justify-content: center;
}
